<section class="aboutusbanner">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-12">
        <img class="w-100 img-fluid object-fit-cover"   loading="lazy"
          src="assets\about_us_banner\WhatsApp Image 2025-03-17 at 17.44.29.jpeg"
          alt="">
      </div>
    </div>
  </div>
</section>

<section class="block aboutus">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center thirteen">
        <h1 class="heading text-dark  wow animate__fadeInUp" data-wow-duration="2s">About us</h1>

      </div>
      <div class="col-lg-12 col-xl-6 text-center mb-3">
        <div class="about-image-container">
          <div class="image-wrapper">
            <img loading="lazy" src="assets\three_circle_at_home\WhatsApp Image 2025-03-17 at 17.23.45.jpeg" class="img-about main-image" alt="">
            <img loading="lazy" src="assets\three_circle_at_home\WhatsApp Image 2025-03-17 at 17.25.00.jpeg" class="img-about small-image top-right" alt="">
            <img loading="lazy" src="assets\three_circle_at_home\WhatsApp Image 2025-03-17 at 17.24.19.jpeg" class="img-about small-image bottom-right" alt="">
          </div>
        </div>        
      </div>
      <div class="col-12 col-lg-6 my-auto wow animate__fadeInUp" data-wow-duration="2s">
        <h4>Creating Magical Moments with Stunning Decorations</h4>
        <p class="text-muted">
          At Nice Balloons Party, we believe that every celebration deserves a touch of creativity and elegance. As
          Mumbai’s leading event decoration service, we specialize in transforming ordinary spaces into breathtaking
          setups that reflect joy, love, and excitement.
        </p>
        <p class="text-muted">
          From birthday parties and baby showers to anniversaries and corporate events, we bring your vision to life
          with meticulous attention to detail and innovative designs. Our team is passionate about crafting unique
          themes, using high-quality decorations, and ensuring a seamless experience from start to finish.
        </p>
        <p class="text-muted">
          No matter the occasion, we are here to make it extraordinary. Let us add color, charm, and a magical ambiance
          to your special moments.
        </p>
        <!-- <a href="javascript:void(0)" class="text-decoration-none icon">Read More</a> -->
      </div>
    </div>
  </div>
</section>


<section class="block why__choose_us">
  <div class="container">
    <div class="row justify-content-center ">
      <div class="col-12 text-center mb-3 thirteen">
        <h1 class="heading text-dark  wow animate__fadeInUp" data-wow-duration="2s">Not Sure Where to Start?</h1>
        <!-- <h2 class="title">Lorem ipsum dolor sit amet.</h2> -->

      </div>
      <div class="col-12 text-center">
        <p class="text-muted wow animate__fadeInUp" data-wow-duration="2s">Planning the perfect decoration for your event can feel overwhelming, but don’t worry—we’re here to help! Whether you have a clear vision or need expert guidance, our team is ready to assist in designing the ideal décor for your celebration.</p>
        <p class="text-muted wow animate__fadeInUp" data-wow-duration="2s">Let’s discuss your ideas, explore themes, and create something truly memorable together.</p>
      </div>
      <div class="col-12 text-center wow animate__fadeInUp" data-wow-duration="2s">
        <button type="button" class="btn-home-banner"><a href="tel:9876543210" class="text-decoration-none text-white">contact us</a></button>
      </div>
    </div>
  </div>
</section>