<section class="block gallery">
  <div class="container-lg">
    <div class="row">
      <div class="col-12 text-center thirteen">
        <h1 class="heading text-dark  wow animate__fadeInUp" data-wow-duration="2s">Gallery</h1>
      </div>
      <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" *ngFor="let stars of data.galleryData[0].stars">
        <div class="img__box  wow animate__fadeInUp" data-wow-duration="2s >
          <img loading="lazy" [src]="stars?.imgPath" alt="nice-balloon-party" class="img-fluid">
        </div>
      </div>       -->
      <div class="col-12">
        <p-tabView [scrollable]="true">
          <p-tabPanel *ngFor="let category of data.galleryData" [header]="category.title">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" *ngFor="let image of category.images">
                <div class="img__box  wow animate__fadeInUp" data-wow-duration="2s">
                  <img loading="lazy" [src]="image.imgPath" alt="nice-balloon-party" class="img-fluid">
                </div>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
        
      </div>

    </div>
  </div>
</section>