<div class="head__er" *ngIf="pageNotFound()">
    <app-header></app-header>
</div>

<div [ngClass]="pageNotFound()?'main-page':' '">
    <router-outlet></router-outlet>

    <!-- <div class="social" *ngIf="pageNotFound()">
        <div class="insta icons">
            <a href="https://www.instagram.com/wawballoondecoration/" target="_blank"> <i
                    class="fab fa-instagram"></i></a>
        </div>
        <div class="whatsapp icons">
            <a href="https://wa.me/917021424278" target="_blank"><i class="fab fa-whatsapp"></i></a>
        </div>
        <div class="facebook icons">
            <a href="https://www.facebook.com/profile.php?id=100065515480421&mibextid=ZbWKwL" target="_blank"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div> -->

    <div class="scroll-top" *ngIf="pageNotFound()">
        <div class="insta icons" (click)="scrollTop()">
            <a href="javascript:void(0)"> <i class="fas fa-angle-double-up"></i></a>
        </div>
    </div>
    
    <div class="call_to_action" *ngIf="pageNotFound()">
        <div class="insta icons">
            <a href="tel:+917738016812"> <i class="fas fa-phone-alt"></i></a>
        </div>
    </div>

    <div class="bottom-action-bar d-md-none">
        <a href="https://wa.me/7738016812" target="_blank" class="action-btn whatsapp">
            <i class="fab fa-whatsapp"></i> Whatsapp
        </a>
        <a href="tel:+917738016812" class="action-btn call">
            <i class="fas fa-phone-alt"></i> Call Now
        </a>
    </div>
    
    
</div>

<div class="foot__er" *ngIf="pageNotFound()">
    <app-footer></app-footer>
</div>