<footer class="footer border-top">
    <div class="container-lg py-4">
        <div class="row align-items-center">

            <!-- Left Section: Logo & Description -->
            <div class="col-md-4 footer-left">
                <img src="assets/logo/nice-balloon-party.png" alt="Company Logo" class="footer-logo" />
                <p class="footer-text txt">
                    Making every celebration memorable with creative & elegant decorations!
                </p>
            </div>

            <!-- Right Section: Links & Contact -->
            <div class="col-md-8 footer-right">
                <div class="row">

                    <!-- Quick Access Links -->
                    <div class="col-12 col-sm-6 col-md-6 mb-3 mb-sm-0">
                        <h5 class="footer-heading">Quick Links</h5>
                        <ul class="footer-links">
                            <li><a href="javascript:void(0)" class="txt" (click)="navigateTo('home')">Home</a></li>
                            <li><a href="javascript:void(0)" class="txt" (click)="navigateTo('about-us')">About Us</a></li>
                            <li><a href="javascript:void(0)" class="txt" (click)="navigateTo('gallery')">Gallery</a></li> 
                            <!-- <li><a href="javascript:void(0)" class="txt">Contact Us</a></li> -->
                        </ul>
                    </div>

                    <!-- Contact Info -->
                    <div class="col-12 col-sm-6 col-md-6 mb-3 mb-sm-0">
                        <h5 class="footer-heading">Contact Us</h5>
                        <ul class="footer-contact">
                            <li class="txt"><i class="pi pi-phone"></i> <a class="txt" href="tel:+917738016812">+91 77380 16812</a></li>
                            <!-- <li class="txt"><i class="pi pi-envelope"></i> info&#64;example.com</li> -->
                            <li class="txt"><i class="pi pi-map-marker"></i> Mumbai, India</li>
                        </ul>
                    </div>

                    <!-- Social Media Links -->  
                    <!-- <div class="col-12 col-md-4 footer-social-container">
                        <h5 class="footer-heading">Follow Us</h5>
                        <div class="footer-social">
                            <a href="javascript:void(0)"><i class="pi pi-facebook"></i></a>
                            <a href="javascript:void(0)"><i class="pi pi-twitter"></i></a>
                            <a href="javascript:void(0)"><i class="pi pi-instagram"></i></a>
                            <a href="javascript:void(0)"><i class="pi pi-linkedin"></i></a>
                        </div>
                    </div> -->

                </div>
            </div>

        </div>
    </div>

    <!-- Bottom Section -->
    <div class="container-fluid bg-dark">
        <div class="row text-white border-top py-2">
            <div class="col-12 text-center">
                <span>
                    <a href="javascript:void(0)" class="text-white text-decoration-none">
                        Design & developed by Akala IT Solutions
                    </a> &copy; Copyright {{ currentYear }}. All Rights Reserved
                </span>
            </div>
        </div>
    </div>
</footer>